<ion-header>
    <ion-navbar>
        <ion-title style="text-align: center;">ReciclaUA</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <div *ngIf="recycleItems?.length> 0;">
        <ion-toolbar>
            <div class=" lastUsersTitle ">Últimos usuarios reciclando</div>
            <div class="lastUsersBody">
                <span *ngFor="let user of users " style="width: 100%; ">
                    <img class="lastUsersAvatar " src="{{user.profilePicture}} " onError="this.src='assets/imgs/quieroReciclar.png' " />
                </span>
            </div>
        </ion-toolbar>
    </div>

    <ion-refresher (ionRefresh)="doRefresh($event) ">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="recycleItems?.length> 0;else recycleItemsNotFound">
        <div *ngFor="let recycleItem of recycleItems" style="width: 100%;">
            <ion-card>
                <ion-item class="recycleItemIonItem">
                    <ion-avatar item-start>
                        <img src="{{recycleItem.recycleUser.profilePicture}}" onError="this.src = 'assets/imgs/quieroReciclar.png'">
                    </ion-avatar>
                    {{recycleItem.recycleUser.fullName}}
                    <p>{{ recycleItem.createdDate | date: 'dd/MM/yyyy H:mm'}}</p>
                </ion-item>

                <img src="{{recycleItem.image}}" onError="this.src = 'assets/imgs/quieroReciclar.png'">

                <ion-card-content>
                    <p style="color: #222;">{{recycleItem.itemType.typeEs}}</p>
                    <p class="recycleItemName" *ngIf="recycleItem.itemType.typeEs != recycleItem.name">
                        {{recycleItem.name}}
                    </p>
                </ion-card-content>
            </ion-card>
        </div>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPages">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más datos..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>

<ng-template #recycleItemsNotFound>
    <ion-grid style="height: 100% ">
        <ion-row align-items-center text-center style="height: 100%">
            <ion-col>
                <div *ngIf="showLoadingMsg == true; else showLoadingResult">
                    <h5>Cargando...</h5>
                </div>
                <ng-template #showLoadingResult>
                    <div *ngIf="errorLoadingContent == true; else showNoRecycledItemsFound">
                        <div>
                            <p>Ha habido algún problema</p>
                            <h5 style="font-weight: bold">Intentalo de nuevo en unos minutos</h5>
                        </div>
                    </div>
                    <ng-template #showNoRecycledItemsFound>
                        <div>
                            <p>Todavía no has reciclado nada</p>
                            <h5 style="font-weight: bold">¡A qué esperas!</h5>
                        </div>
                    </ng-template>
                </ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>
</ng-template>