page-recoverPasswordGenCode {
    .scroll-content {
        padding-bottom: 0 !important;
    }

    .segment-md{
        margin-bottom: -15px !important;
    }

    .toolbar-ios .segment-button{
        max-width: 120px;
    }
}

