page-profile {
    .segmentName{
        font-size: 14px;
    }

    .editButton{
        float: right;
        display: inline;
        position: absolute;
        top: 7px;
        right: 0;
        right: 10px;
        padding: 0;
    }

    .pointsBox{
        text-align: center;
        border: 1px solid #a59b9b;
        border-radius: 5px;
        background-color: #f8f8f8;
        text-align: center;
    }

    .item-block{
        padding-left: 0;
    }
    
    .item-icon{
        padding:0
    }

    ion-card{
        margin: 0px 10px 10px 10px !important;
    }

    .segment-md{
        margin-bottom: -15px !important;
    }

    .list{
        padding-top: 10px;
    }

    .logoutButton{
        padding: 0px 10px 5px 10px;
    }
}
