page-profile {
    .segmentName{
        font-size: 14px;
    }

    .editButton{
        float: right;
        display: inline;
        position: absolute;
        top: 5px;
        right: 0;
        right: 20px;
        padding: 0;
    }

    .pointsBox{
        text-align: center;
        border: 1px solid #a59b9b;
        border-radius: 5px;
        background-color: #f8f8f8;
        text-align: center;
    }
}
