<ion-grid style="height: 100%">

    <div *ngIf="recycleItems?.length > 0;else recycleItemsNotFound">
        <ion-row justify-content-center align-items-center style="height: 100%">
            <ion-col>
                <div *ngFor="let recycleItem of recycleItems">

                    <ion-card>
                        <ion-item>
                            <ion-avatar item-start>
                                <img src="{{recycleItem.image}}">
                            </ion-avatar>
                            {{recycleItem.name}}
                            <p>{{ getItemType(recycleItem.itemType.id) }} - {{ recycleItem.createdDate | date: 'dd/MM/yyyy H:mm'}}
                            </p>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </div>

</ion-grid>


<ng-template #recycleItemsNotFound>
    <ion-row align-items-center text-center style="height: 100%">
        <ion-col>
            <div *ngIf="showLoadingMsg == true; else showLoadingResult">
                <h5>Cargando...</h5>
            </div>
            <ng-template #showLoadingResult>
                <div *ngIf="errorLoadingContent == true; else showNoRecycledItemsFound">
                    <div>
                        <p>Ha habido algún problema</p>
                        <h5 style="font-weight: bold">Intentalo de nuevo en unos minutos</h5>
                    </div>
                </div>
                <ng-template #showNoRecycledItemsFound>
                    <div>
                        <p>Todavía no has reciclado nada</p>
                        <h5 style="font-weight: bold">¡A qué esperas!</h5>
                    </div>
                </ng-template>
            </ng-template>
        </ion-col>
    </ion-row>
</ng-template>