page-myRecycledItems {
    .recycleItemIonItem:hover{
        background-color: #e7e7e7;
    }

    .item-md{
        padding-left: 16px;
    }

    .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start]{
        margin-left: 10px;
    }
}
