<ion-header>
    <ion-navbar>
        <ion-title>Adivina dónde se recicla</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid style="height: 100%">
        <div *ngIf="question != null;else questionNotFound">
            <ion-row justify-content-center align-items-center style="height: 100%">
                <ion-item>
                    {{question.name}}
                </ion-item>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>

<ng-template #questionNotFound>
    <ion-row align-items-center text-center style="height: 100%">
        <ion-col>
            <div *ngIf="showLoadingMsg == true; else showLoadingResult">
                <h5>Cargando...</h5>
            </div>
        </ion-col>
    </ion-row>
</ng-template>

<ng-template #showLoadingResult>
    <div>
        <p>Ha habido algún problema</p>
        <h5 style="font-weight: bold">Intentalo de nuevo en unos minutos</h5>
    </div>
</ng-template>