<ion-header>
    <ion-navbar>
        <ion-title>Adivina dónde se recicla</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid style="height: 100%">
        <ion-row align-items-center text-center style="height: 100%">
            <ion-col>
                <div *ngIf="question != null;else questionNotFound">
                    adsasd {{question.name}}
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ng-template #questionNotFound>
    <div *ngIf="showLoadingMsg == true; else showLoadingResult">
        <h5>Cargando...</h5>
    </div>
</ng-template>

<ng-template #showLoadingResult>
    <div *ngIf="oneDayLeftAlready == true; else errorFound">
        <p>¡Aún no ha pasado un día!</p>
        <h5 style="font-weight: bold">Quedan {{hoursLeft}} horas</h5>
    </div>
</ng-template>

<ng-template #errorFound>
    <div>
        <p>Ha habido algún problema</p>
        <h5 style="font-weight: bold">Intentalo de nuevo en unos minutos</h5>
    </div>
</ng-template>