page-game {
    .questionTitle{   
        background-color: #f6f6f6;
        border: 1px solid #edecec;
        border-radius: 10px;
        font-size: 16px;
        width: 80%;
        margin:auto
    }

    .currentQuestion{
        line-height: 100px;
        height: 100px;
    }

    .lastQuestionBox{
        height:100%;
    }
    
    .col{
        padding:0;
    }

    p{
        margin: 5px 0px 0px 0px
    }
}

