page-profileEdit {
    .segmentName{
        font-size: 14px;
    }

    .scroll-content {
        padding-bottom: 0 !important;
    }

    .segment-md{
        margin-bottom: -15px !important;
    }
}

