<ion-header>
    <ion-navbar>
        <div style="display: flex;justify-content: center; align-items: center;">
            <div class="title-navbar" align="center">
                <div class='main-title'>Reciclar {{getItemType(recycleItem.itemType)}}</div>
                <div class='sub-title'>{{recycleItem.name}}</div>
            </div>
            <div class="iconsRight">
                <div *ngIf="!recycledAlready;">
                    <ion-buttons right>
                        <button ion-button icon-only color="royal" (tap)="recycleFinish()">
                            <ion-icon name="ios-checkmark-circle"></ion-icon>
                        </button>
                        <button ion-button icon-only (tap)="viewOnExtenalMap()">
                            <ion-icon name="reciclaUA-directions"></ion-icon>
                        </button>
                        <button ion-button icon-only color="royal" (tap)="presentPopover($event)">
                            <ion-icon name="md-create"></ion-icon>
                        </button>
                    </ion-buttons>
                </div>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="currentPlatformIsBrowser == false;else currentPlatformIsBrowserTemplate">
        <div #map id="map_canvas">
        </div>
    </div>
</ion-content>

<ng-template #currentPlatformIsBrowserTemplate>
    <ion-grid justify-content-center align-items-center style="height: 100%">
        <ion-row align-items-center text-center style="height: 100%">
            <ion-col>
                <div>
                    <p>Puedes utilizar las opciones del menú superior</p>
                    <h5 style="font-weight: bold">Mapa no disponible en versión web</h5>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ng-template>