page-recycleMap {
    
    #map_canvas{
        display: block;
        height: 100%;
        width: 100%;
    }

    .title-navbar{
        font-size: 17px;
        font-weight: 500;
        color: #424242;
        text-align:center;
        margin-left:-85px;
    }
    
    .sub-title{
        font-size: 14px;
        color: rgb(124, 125, 126);
    }

    .iconsRight{
        position: absolute;
        right: 7.5px;
    }
}
