<ion-header>
    <ion-navbar>
        <ion-title>
            Reciclar!
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="itemTypeList?.length > 0;else itemTypeListEmpty" style="height: 100%">
        <ion-grid style="height: 100%">
            <ion-row align-items-center text-center style="height: 100%">
                <ion-col>
                    <ion-card style="height: 260px;" *ngIf="tip != null;else tipNotFound">
                        <ion-card-header text-left>
                            {{tip.name}}
                        </ion-card-header>
                        <ion-card-content class="tip-box">
                            <span class="tip-box-content" [innerHtml]="tip.description"></span>
                        </ion-card-content>
                    </ion-card>
                    <p style="margin-top: 50px;">
                        <button ion-button (tap)="presentActionSheetActions()">
                            Quiero reciclar
                        </button>
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

<ng-template #itemTypeListEmpty>
    <ion-row align-items-center text-center style="height: 100%">
        <ion-col>
            <div *ngIf="showLoadingMsg == true; else showLoadingResult">
                <h5>Cargando...</h5>
            </div>
        </ion-col>
    </ion-row>
</ng-template>

<ng-template #showLoadingResult>
    <div>
        <p>Ha habido algún problema</p>
        <h5 style="font-weight: bold">Intentalo de nuevo en unos minutos</h5>
    </div>
</ng-template>

<ng-template #tipNotFound>
    <img src="assets/imgs/quieroReciclar.png" />
</ng-template>