page-recycle {
    .tip-box{
        height: 82%;
        display: table;
        width: 100%;
    }

    .tip-box-content{
        display: table-cell;
        vertical-align: middle;
        padding: 5px;
    }

    .scroll-content{
        padding:0px !important;
    }
}

