// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "appname-" prefix
ion-icon {
    &[class*="reciclaUA-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="reciclaUA-recyle"] {
        mask-image: url("../assets/imgs/icons/recycle.svg");
    }

    padding-top: 2px !important;
    height: 22px;   
}

ion-card{
    margin: 0px 10px 10px 10px !important;
}

ion-card-header{
    padding: 13px !important;
}

ion-card-content{
    padding: 13px 16px 11px 16px !important;
}

