// Custom icons
// Overriding the ion-icon behavior
// All custom icons will start with "appname-" prefix
ion-icon {
    &[class*="reciclaUA-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="reciclaUA-recyle"] {
        mask-image: url("../assets/imgs/icons/recycle.svg");
    }
}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}